{% extends 'base/base.html' %}

{% block content %}
<h1>Your Attended Events</h1>
<div class="col-lg-8 col-md-8 mx-auto">
  {% if attending_events %}
    <div class="card mb-4">
      {% for event in attending_events %}
        <img src="{{ event.event_image.url }}" class="card-img-top" alt="{{ event.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text">Date: {{ event.date }}</p>
            <p class="card-text">Description: {{ event.description }}</p>
            <p class="card-text">Host: {{ event.host }}</p>
            <p class="card-text">Location: {{ event.location }}</p>
            <ul class="list-unstyled">
                <li>Attendees:</li>
                {% for user in event.attendees.all %}
                <li>{{ user }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'add-attends' event.id %}" class="btn btn-primary">I'm in</a>
            {% if user.is_authenticated %}
            {% if user == event.host %}
            <a href="{% url 'update-event' event.id %}" class="btn btn-info">Update Event</a>
            <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete Event</a>
            {% endif %}
            {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You haven't attended any events yet.</p>
  {% endif %}
</div>
{% endblock %}
