{% extends 'base/base.html' %}
<div class="cards">
    {% block content %}
    {% for event in event_list %}
    <div class="card" style="width: 500px; margin: 20px auto;">
        <div class="card-header">
            Date: {{ event.date }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            {% if event.event_image %}
            <img style="width: 400px" src="{{event.event_image.url}}">
            {% endif %}
            <p class="card-text">Description: {{ event.description }}</p>
            <p class="card-text">Host: {{ event.host }}</p>
            <p class="card-text">Location:{{ event.location }}</p>
            <ul>
                <p>Attendees: </p>
                <p>{% for user in event.attendees.all %}
                    {{ user }}
                    {% endfor %}
                </p>
                <a href="{% url 'add-attends' event.id %}" class="card-link">I'm in</a>
            </ul>
            {% if user.is_authenticated %}
            {% if user == event.host %}
            <a href="{% url 'update-event' event.id %}" class="card-link">Update Event</a>
            <a href="{% url 'delete-event' event.id %}" class="card-link">Delete Event</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</div>