{% extends 'base/base.html' %}
<div class="cards">
    {% block content %}
    <div class="card" style="width: 500px; margin: 20px auto;">
        <div class="card-header">
            Date: {{ event.date }}
        </div>
        <div class="card-body">
            {% if event.event_image %}
            {{event.event_image}}
            {% endif %}
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text">Description: {{ event.description }}</p>
            <p class="card-text">Host: {{ event.host }}</p>
            <p class="card-text">Location:{{ event.location }}</p>
            <ul>
                <p>Attendees: </p>
                <p>{% for user in event.attendees.all %}
                    {{ user }}
                    {% endfor %}
                </p>
            </ul>
        </div>
    </div>
    {% endblock %}
</div>