{% extends 'base/base.html' %}

{% block content %}
<div style="text-align: center; padding: 70px 0">
    <h1>Welcome to the Event Website</h1>
    <p>Discover and join exciting events near you!</p>
    <a href="{% url 'list-events' %}" class="button">View All Events</a>
</div>
<div class="container" style="text-align: center; padding: 70px 0">
    <h2>About Us</h2>
    <p>Welcome to our vibrant and versatile event site, where extraordinary moments come to life! Whether you're planning a corporate conference, a dreamy wedding, a high-energy music festival, or any special occasion, our event site is the perfect canvas to turn your vision into reality.</p>
</div>
{% endblock %}

