{% extends 'base/base.html' %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6">
            <div class="text-center mt-4">
                <h1 class="display-4">MeetThere: Your Social Calendar</h1>
                <p class="lead">
                    Discover. Connect. Create.
                </p>
                </br>
                <ul class="list-unstyled">
                    <li>📅 Create Events: Be the host. Plan gatherings effortlessly.</li>
                    <li>🔎 Event Discovery: Find exciting meetups. Your interests, your way.</li>
                    <li>🎯 Personalization: Tailor your profile. Meet like-minded souls.</li>
                    <li>📊 Event Management: Stay organized and updated.</li>
                    <li>🤝 Community Builder: Connect, make friends, and share passions.</li>
                    <li>🔒 Privacy & Security: Your data, your control.</li>
                    <a href="{% url 'list-events' %}" class="btn events">Explore Events Here</a>
                </ul>
                <a href="{% url 'signup' %}" class="btn btn-success">Sign Up Now</a>
                <a href="{% url 'login' %}" class="btn login">or Login</a>
            </div>
        </div>
    </div>
</div>
<style>
    .display-4 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .lead {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .list-unstyled li {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .btn-success, .login {
        margin-top: 20px;
        padding: 10px 30px;
    }

    .login {
        color: gray;
    }

    .events{
        color: darkslategrey;
    }
</style>
{% endblock %}


