{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <h4 class="text-center display-5">Login</h4>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="profile-info">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="exampleInputUsername">Username</label>
                        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="mt-3 d-flex align-items-center">
                        <button type="submit" class="btn btn-success">Login</button>
                        <p class="mb-0" style="margin-left: 1rem">
                            Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
