{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">User Profile</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="profile-info">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                </div>
                <a href="{% url 'update-profile' user.id %}" class="btn btn-primary">Update Profile</a>
                <a href="{% url 'update-password' user.id %}" class="btn btn-secondary">Change password</a>
            </div>
        </div>
    </div>
{% endblock %}



