{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Update Your Profile</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="profile-info">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                        <button class="btn btn-primary" type="submit">Update Profile</button>
                        <a href="{% url 'profile' user.id %}" class="btn btn-secondary">Back to Profile</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}